body, html, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    
}
/*MENU LATERALE SINISTRA*/
aside {
    display: flex;
    flex-direction: column;
    padding: 35px 35px;
    background-color: #000000;
    color: #b2b2b2;
    height: 100vh;
    width: 20vw;
}

.container-menu-navigazione-aside {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: start;
}

.container-icone-aside {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.container-icone-aside ion-icon {
    font-size: 1.5em;
}

.primo-colonna {
    margin-top: 25px;
}

.linea-divisore {
    margin: 35px 0;
    border-bottom: 1px solid #b2b2b2;
}
/*MENU LATERALE SINISTRA*/
/*MENU LATERALE SINISTRA*/
/*MENU LATERALE SINISTRA*/


/*MAIN - MAIN - MAIN*/
/*MAIN - MAIN - MAIN*/
/*MAIN - MAIN - MAIN*/
main {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    flex-grow: 4;
    justify-content: start;
    align-items: end;
    padding: 10px 35px;
}

/*ACCOUNT _ PROFILO*/

.container-account {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: start;
    color: white;
    background-color: #000000;
    width: fit-content;
    padding: 0px 9px;
    border-radius: 25pt;
}

.container-foto-profilo {
    background-color: white;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-foto-profilo ion-icon {
    font-size: 1.6em;
    color: #000000;
}

/*ACCOUNT _ PROFILO*/